{% extends "base.html" %}

{% block title %}Games played{% endblock %}

{% block content %}

<div>
<!-- Boardgames table --> 
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-1">Image</th>
                <th scope="col" class="col-3">Boardgames</th>
                <th scope="col">Times played</th>
            </tr>
        </thead>


        <tbody>
            {% for boardgame in boardgames %}
                <tr>
                    <td>
                        <img style="height: 100px" src= {{ boardgame.image_name }}>
                    </td>
                    <td>
                        <a href="{% url 'detail' boardgame.id %}">
                            {{ boardgame }}
                        </a>
                    </td>
                    <td>
                        {{ boardgame.times_played }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}