{% extends "base.html" %}

{% block title %}Games played{% endblock %}

{% block content %}

<div">
<!-- Boardgames table --> 
    <table class="table table-striped table-welcome">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-1">Image</th>
                <th scope="col" class="col-3">Boardgames</th>
                <th scope="col" class="col-1">Complexity</th>
                <th scope="col" class="col-1">Duration</th>
                <th scope="col">Times played</th>
            </tr>
        </thead>


        <tbody>
            {% for boardgame in boardgames %}
                <tr>
                    <td>
                        <img style="height: 100px" src= {{ boardgame.image_name }}>
                    </td>
                    <td>
                        <a href="{% url 'detail' boardgame.id %}">
                            {{ boardgame }}
                        </a>
                    </td>
                    <td>
                        <div style="font-weight: bold;
                        {% if boardgame.complexity < 2.5 %} color: Green
                        {% elif boardgame.complexity > 2.5 and boardgame.complexity < 3.5 %} color: Orange
                        {% elif boardgame.complexity > 3.5 %} color: Red
                        {% endif %}">{{ boardgame.complexity }}</div>
                    </td>
                    <td>
                        {{ boardgame.duration }}
                    </td>
                    <td>
                        {{ boardgame.times_played }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}