{% extends "base.html" %}
{% load static %}

{% block title %} {{game}} {% endblock %}

{% block content %}

    <div style="float: left; min-width: 700px; margin-left: 2%; margin-top: 2%; font-weight: bold;">
        <h1>{{game}}</h1>
        <div class="row">
            <div class="col-3">
                Game Played
            </div>
            <div class="col">
                {{game.boardgame}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Date Played
            </div>
            <div class="col">
                {{game.date}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Players
            </div>
            <div class="col test">
                {{game.players.all|join:", "}}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Winner
            </div>
            <div class="col green">
                {{ game.winner }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Duration
            </div>
            <div class="col">
                {{game.duration}} minutes
            </div>
        </div>
    </div>

{% endblock %}